<%- include ('../partials/header') %>
    <link rel="stylesheet" href="styles/main.css">
<title>Cook App</title>
</head>
<body>
<%- include ('../partials/nav') %>
<div class="mt-6">
    <% if (errorMsg) { %>
    <div class="text-center"><h5><%= errorMsg %></h5></div>
    <% } %>
    <div class="container auth-container mt-5">
        <div class="display-3 auth-header text-center">Login</div>
        <form class="auth-form" action="/login" method="post">
            <div class="mb-3 mt-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control form-input" id="username" placeholder="Enter your username" name="username">
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Password</label>
                <input type="password" class="form-control form-input" id="pwd" name="password" placeholder="Password">
            </div>
            <div class="d-flex justify-content-between">
                <button class="btn btn-gold" type="submit">Login</button>
                <span class="my-auto">or</span>
                <a id="signUpBtn" class="btn btn-gold float-end" href="/signup">Sign up</a>
            </div>
        </form>        

    </div>
</div>
<%- include ('../partials/end') %>