<%- include ('../partials/header') %>
    <link rel="stylesheet" href="styles/main.css">
<title>Make an Order Now</title>
</head>
<body>
<%- include ('../partials/nav') %>
<div class="mt-6">
    <div class="container mt-5">        
        <h1 class="text-center">Order page</h1>
    </div>
</div>
<%- include ('../partials/end') %>