<%- include ('../partials/header') %>

<title>Cook App</title>
</head>
<body>

    <%- include ('../partials/nav') %>
    <header>
        <div class="page-header min-vh-75" style="background-image: url('./images/banner.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7 d-flex justify-content-center text-md-start text-center flex-column mt-sm-0 mt-7">
                        <h1 class="text-white">Your Perfect Place to Express how You Feel</h1>
                        <p class="lead pe-md-5 me-md-5 text-white opacity-8">The time is now for it be okay to be great. People in this world shun people for being nice.</p>
                        <div class="buttons">
                        <button type="button" class="btn bg-gradient-primary mt-4">Get Started</button>
                        <button type="button" class="btn text-white shadow-none mt-4">Read more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6 mb-4">
        <section class="py-md-7">
            <div class="container">
            <div class="row justify-content-start">
            <div class="col-md-4 ms-md-auto me-md-4">
            <div class="text-start">
            <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
            <i class="material-icons opacity-10">payment</i>
            </div>
            <h5 class="mt-3">Order Meals</h5>
            <p>The Arctic Ocean freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
            </div>
            <div class="primary text-start border-radius-lg mt-6">
            <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
            <i class="material-icons opacity-10">insights</i>
            </div>
            <h5 class="mt-3">Host Events</h5>
            <p>People are so scared to lose that they don't even try. Like, one thing people can't say is that I'm not trying, and I'm not trying my hardest.</p>
            </div>
            </div>
            <div class="col-md-4 me-md-auto ms-md-4">
            <div class="primary text-start border-radius-lg">
            <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
            <i class="material-icons opacity-10">access_alarms</i>
            </div>
            <h5 class="mt-3">Learn</h5>
            <p>The time is now for it to be okay to be great. People in this world shun people for being great. For being a bright color. What else could rust?</p>
            </div>
            <div class="primary text-start border-radius-lg mt-6">
            <div class="icon icon-md icon-shape bg-gradient-primary shadow-primary text-center border-radius-xl mt-n4">
            <i class="material-icons opacity-10">sentiment_satisfied</i>
            </div>
            <h5 class="mt-3">Be Informed</h5>
            <p>If everything I did failed - which it doesn't, it actually succeeds - just the fact that I'm willing to fail is an inspiration.</p>
            </div>
            </div>
            </div>
            </div>
            </section>
    </div>
    <%- include ('../partials/footer') %>
    <%- include ('../partials/end') %>